#calculator{
    border : 1px solid rgb(188, 193, 182);
    border-radius: 5px;
    width: 200px;
}
#display{
    margin : 10px;
    width: 68%;
    font-size: 25px;
    padding : 10px 20px;
}
#btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.btn{
    width : 50px;
    height : 50px;
    margin: 3px;
    font-size: 20px;
}